    .Daily-Shouts {
        color: pink;
        font-family: 'Lobster Two', cursive;
        text-transform: uppercase;


    }
    .Idea {
        font-family: 'Mali' , cursive;
        font-weight: 900;
        text-transform: uppercase;
    }
    .Author {
        font-family: 'Oswald', sans-serif;
    }
    .Day {
        color: gray;
    }


